<!-- 
<h1>Article</h1>

<div class="row g-5">
  <div *ngFor="let article of article" class="col-6 col-md-3">

    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src={{article.image}} alt="Card image">
        <div class="card-body">
          <h5 class="card-title">{{article.label}}</h5>
          <p class="card-texte">{{article.text}}</p>
          <p class="card-text">{{article.date}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div> 
  </div>
</div> -->

