
#label { 
    margin: 1em;
    padding: 0.5em;
    margin-top: 1em; 
}

#date {
    margin: 1em;
    padding: 0.5em;
    margin-top: 1em;
}

#texte {
    margin: 0.5em;
    padding: 0.5em;
    margin-top: 1em;
}


.btn-primary {
    background: rgb(0, 120, 0);
    width: 8rem;
    margin: 3.5em;
    padding: 0.5em;
    margin-top: 0.5em; 
}

  