
<h1>Ajouter un Article</h1>

<form (ngSubmit)="addArticle()">
    <label for="label">Titre : </label>
    <input type="text" id="label" name="label" [(ngModel)]="article.label"><br>
    <label for="Date">Date : </label>
    <input id="date" type="date" name="date" [(ngModel)]="article.date"><br>
    <label for="texte">Texte : </label>
    <input type="text" id="texte" name="texte" [(ngModel)]="article.text"><br>
    <button class="btn-primary">Ajouter</button>
</form>
