
<header>
    <nav>
        <ul>
            <li><a routerLink="/">Page d'acceuil</a></li>
            <li><a routerLink="/add-article">Formulaire d'ajout d'article <Article></Article></a></li>
            <!-- <li><a routerLink="/search">Search Article</a></li> -->
        </ul>
    </nav>
</header>

<router-outlet></router-outlet>
