
<p>
    Date: {{article?.date|date}}.
</p>
<p>
    Titre: {{article?.label}}.
</p>
<p>
    L'article numéro: {{article?.id}}.
</p>
<p>
    Le contenu de l'article: {{article?.text}}
</p>
    
    <!-- <p *ngIf="arg">
        Paramètre reçu : {{arg}}
    </p> -->
    