.btn-danger1{
    background: rgb(229, 0, 0);
    border: 0.15rem;
    padding: 0.5rem;
}

.btn-danger2 {
    background: rgb(229, 0, 0);
}

.btn-primary {
    background: rgb(0, 76, 229);
    border: 0.15rem;
    padding: 0.5rem;
}