
<h1>Liste des Articles</h1>
<div class="container-fluid">
    <div class="row g-3">

        <div *ngFor="let article of articles" class="col-6 col-md-3">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{article.label}}</h5>
                    <p class="card-text"> {{article.text}}</p>
                    <a [routerLink]="['/article', article.id ]" class="btn btn-primary">Voir l'article</a>
                    <button class="btn-danger1" (click)="delete(article.id!)">Supprimer l'article</button>
                </div>
            </div>

        </div>


    </div>
</div>

<ul>
    <li *ngFor="let item of articles">
        <button class="btn-danger2" (click)="delete(item.id!)">Supprimer l'article</button>
        <a href="/article/{{item.id}}">Détail de l'article</a>
        {{item.date|date}} : {{item.label}}
        
    </li>
</ul>
